body{margin:0;padding:0;background:#EEE;color:#555;font-family:Arial;font-size:13px}

/* Contains the content to 960px wide */
#container{position:relative;width:960px;margin:20px auto}
	.section{position:relative;background:#FFF;margin-bottom:30px;padding:10px;border-bottom:2px solid #CCC;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
	.section-plain{background:none;border:0}

/* The battle engine specific styles */
#battle_input{width:500px;margin:auto auto}
#battle_output{padding-bottom:20px}
    #battle_output_introduction{color:#CCC;font-size:20px;text-align:center;padding-top:10px;letter-spacing:-.5px}
        .battle_ship_count{font-size:12px;font-family:Courier;width:60px;border:1px solid #CCC;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:2px}
        #battle_output .loading{width:24px;height:24px;margin:10px 0 0 460px}
.battle-report{}
    .battle-report-stat-heading{width:65px;text-align:right}
    .battle-report-entity,.battle-report-resource-stat{text-align:center}
    .battle-report-end-of-section{border-right:1px solid #CCC}
    .stat{text-align:right;font-family:Monaco,Courier;font-size:10px}

/* generic styles */
.right{float:right}
.left{float:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-left{text-align:left}

/* Typography */
h1{text-align:center;font-family:Georgia;font-size:48px;margin:0;padding-bottom:0;letter-spacing:-2px;font-weight:normal}
h2{text-align:center;font-family:Arial;font-size:28px;margin-bottom:0;padding-bottom:0;letter-spacing:-1px;font-weight:normal}
h3{text-align:center}
.intro{text-align:center;margin:0;padding:3px 0 0;font-family:Arial;line-height:20px;width:700px;margin:auto auto}
	.intro span{padding:0 5px}
	.intro a{text-decoration:none}
		.intro a:hover{text-decoration:underline}
a{color:#4fbae9;text-decoration:underline}
    a:hover{text-decoration:none}
    a img{border:none}
abbr{border-bottom:1px dotted #BBB;cursor:help}
hr{margin:10px auto;padding:0;background:#FFF;color:#FFF;border:0;border-bottom:1px dotted #BBB;width:600px}

/* Generic table styles */
table{width:100%;border-collapse:collapse;border:0}
    th,td{padding:6px}
    th{border-bottom:1px solid #BBB;text-align:left;font-weight:bold;background:#EEE}
    td{border-bottom:1px solid #BBB}
    .no-border,tr.no-border td{border-bottom:0}

/* Clear floated divs */
.clear{clear:both}